* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-end;
  }
  
  /* Header */
  header {
    padding: 40px;
    text-align: center;
    font-weight: bolder;
    background-color: gray;
  }
  header h1 {
    font-size: 60px;
  }
  header h3 {
    font-size: 50px;
  }
  
  /* Nav */
  nav {
    display: flex;
    justify-content: space-evenly;
    background-color: darkslategray;
    padding: 4% 0% 1% 0%;
  }
  nav a {
    padding: 15px 20px;
    margin: 0% 1% 5% 8%;
    text-decoration: underline ;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: black;
  }
  
  /* Main */
  .page-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(175, 179, 174);
  }
  .flex div{
    flex: 50%;
  }
  
  .flex div p{
    font-size: 30px;
    text-decoration: underline;
  }
   section h2 {
    display: flex;
    font-size: 40px;
    width: 100%;
    height: auto;
  }
  
  /* Image Placemarker */
  #img1 {
    width: 65%;
    height: auto;
    justify-content: flex-end;
  } 
  #img2, #img3, #img4 {
    width:50%;
    height: auto;
  }
  
  /* Footer */
  #contact {
    justify-content: space-evenly;
    background-color: darkslategray;
    font-size: 40px;
    font-weight: 20;
    text-decoration: underline;
  }
  
  /* Screen Adjusment for different devices */
  @media screen and (max-width: 992px) {
    nav , body {
      width: 50%;
    }
  
  }
  
  @media screen and (max-width: 768px) {
   nav,body {
      width: 100%;
      flex-direction: column;
    }
  
  }